# エディタのバックアップファイル
*~

# OS 生成ファイル
.DS_Store
Thumbs.db

# ログファイル
*.log

# テンポラリファイル
*.tmp
*.temp
*.swp

# 特定の設定ファイルやシークレットキーを含むファイル（必要に応じて）
config.env
.secret

# ビルドディレクトリ（もしビルドプロセスがある場合）
/build

.vscode
